.request-container {
    margin-top: 160px !important;
    position: relative !important;
    margin-bottom: 50px;
}
.resend-code-btn{
    background: none;
    border: none;
    color: #0066cc;
    padding: 0;
    font: inherit;
    cursor: pointer;
    text-decoration: none;
}