<section class="request-container">
    <div class="container position-relative w-50 float-left"
        *ngIf="currentState === 'RESEND CODE' || currentState === 'INITIAL'">
        <div>
            <app-code-totp (codeValid)="onCodeValid($event)" (codeValue)="onCodeValue($event)"
                [reset]="resetCode"></app-code-totp>
            <div *ngIf="currentState === 'RESEND CODE'" class="row mb-3 ">
                <div class="col-12 d-flex align-items-center">
                    <app-countdown (timerFinished)="onTimerFinished($event)" [reset]="startCountDown"></app-countdown>
                    <button type="button" (click)="resendCode()" class="resend-code-btn ms-1" [disabled]="!timerFinished">
                        Reenviar codigo
                    </button>
                </div>
            </div>
        </div>
        <app-email (emailValid)="onEmailValid($event)" (emailValue)="onEmailValue($event)"></app-email>
        <app-password (passwordsValue)="onPasswordsValue($event)"
            (passwordValid)="onPasswordValid($event)"></app-password>
        <button (click)="changePassword()" [disabled]="!isEmailValid || !arePasswordValid">
            Cambiar contraseña
        </button>
    </div>
</section>