<footer class="final">
    <div class="colum_seccion ">
      <div class="footer-column">
        <h3>LÍNEAS DE ATENCIÓN</h3>
        <ul>
            <li><strong>Régimen Contributivo</strong></li>
            <li>Marca desde teléfono fijo a la línea gratuita nacional al <strong>01 8000 951357</strong></li>
            <li>En Bogotá, desde fijo o celular, al <strong>(601) 408 96 87</strong></li>
            <li><strong>Régimen Subsidiado</strong></li>
            <li>Marca desde teléfono fijo a la línea gratuita nacional al <strong>01 8000 842650</strong></li>
            <li>En Bogotá, desde fijo o celular, al <strong>(601) 405 36 85</strong></li>
            <li><strong>Línea de atención COVID-19 y Viruela Símica:</strong></li>
            <li>01 8000 658746</li>
        </ul>
    </div>
    <div class="footer-column">
        <h3>NORMATIVIDAD</h3>
        <ul>
            <li><a href="#">Carta de Derechos y Deberes</a></li>
            <li><a href="#">Circular 007</a></li>
            <li><a href="#">Código de Buen Gobierno</a></li>
            <li><a href="#">Código de Ética e Integridad</a></li>
            <li><a href="#">Estados Financieros</a></li>
            <li><a href="#">Ley de Transparencia</a></li>
            <li><a href="#">Línea Ética</a></li>
            <li><a href="#">Normograma</a></li>
            <li><a href="#">Notificaciones Judiciales</a></li>
            <li><a href="#">Oportunidad de citas</a></li>
            <li><a href="#">Participación Social</a></li>
            <li><a href="#">Programas de Cumplimiento</a></li>
        </ul>
    </div>
    <div class="footer-column">
        <h3>OTROS ACCESOS</h3>
        <ul>
            <li><a href="#">Puntos de atención</a></li>
            <li><a href="#">Preguntas frecuentes</a></li>
            <li><a href="#">Glosario</a></li>
            <li><a href="#">Paga tu planilla</a></li>
            <li><a href="#">Trabaja con nosotros</a></li>
        </ul>
    </div>
    </div>
  </footer>
