<app-header></app-header>
<div class="container position-relative w-50 float-left email_section">
    <div class="input-group mb-3 ">
        <div class="input-group-prepend">
            <span class="input-group-text" id="nombre">Correo:</span>
        </div>
        <input type="text" class="form-control w-25 " id="email" aria-describedby="correo"
            placeholder="Correo inscrito del paciente">
    </div>

    <div class="row d-flex flex-nowrap">
        <div class="w-auto">
            <button onclick="postCategory()">Validar</button>
        </div>
    </div>
    <div *ngIf="isLoading">Cargando...</div>

    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

    <div *ngIf="data && !isLoading">

    </div>
</div>
<app-footer></app-footer>