.password_section {
    margin-top: 160px !important;
    position: relative !important;
    margin-bottom: 50px;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1em; /* Asegura que el icono tenga el tamaño adecuado */
    padding: 0;
  }

.invalid {
    border: 1px solid red;
}

.valid {
    border: 1px solid green;
}

.error-messages {
    display: block !important;
    margin-top: 5px;
}

.error-message {
    color: red;
    display: block!important;
    margin: 0;
    padding: 5px;
}