<section>
    <div class="container position-relative w-50 float-left password_section">
        <form [formGroup]="passwordForm">
            <div class="input-group mb-3 ">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="codigo">Codigo:</span>
                </div>
                <input class="form-control w-25 " aria-describedby="codigo"
                    placeholder="Ingresa el codigo recibido"
                    id="codigo"  type="number">
            </div>
            <div class="input-group mb-3 ">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="contrasena">Contraseña:</span>
                </div>
                <input [type]="hidePassword ? 'password' : 'text'" class="form-control w-25 " id="password"
                    formControlName="password" aria-describedby="contrasena" placeholder="Contraseña a asignar"
                    [class.invalid]="passwordForm.get('password')?.invalid && passwordForm.get('password')?.touched"
                    [class.valid]="passwordForm.get('password')?.valid && passwordForm.get('password')?.touched">
                <button type="button" class="toggle-password" (click)="togglePasswordVisibility()"
                    [attr.aria-label]="hidePassword ? 'Mostrar contraseña' : 'Ocultar contraseña'">
                    {{ hidePassword ? '👁️' : '🙈' }}
                </button>
                <div class="error-messages"
                    *ngIf="passwordForm.get('password')?.errors && passwordForm.get('password')?.touched">
                    <div *ngIf="passwordForm.get('password')?.errors?.['required']" class="error-message">La contraseña
                        es
                        obligatoria</div>
                    <div *ngIf="passwordForm.get('password')?.errors?.['minlength']" class="error-message">La contraseña
                        debe tener
                        al menos 8 caracteres</div>
                    <div *ngIf="passwordForm.get('password')?.errors?.['maxlength']" class="error-message"> La
                        contraseña no
                        puede
                        tener más de 16 caracteres</div>
                    <div *ngIf="passwordForm.get('password')?.errors?.['pattern']" class="error-message">La contraseña
                        debe
                        tener
                        caracteres, números y letras en mayúsculas y minúsculas</div>
                </div>
            </div>
            <div class="input-group mb-3 ">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="confirmar_contrasena">Contraseña:</span>
                </div>
                <input [type]="hideConfirmPassword ? 'password' : 'text'" class="form-control w-25 " id="confirmPassword"
                    formControlName="confirmPassword"
                    [class.invalid]="passwordForm.get('confirmPassword')?.invalid && passwordForm.get('confirmPassword')?.touched" aria-describedby="confirmar_contrasena"
                    placeholder="Confirmar contraseña a asignar"
                    [class.valid]="passwordForm.get('confirmPassword')?.valid && passwordForm.get('confirmPassword')?.touched">
                <button type="button" class="toggle-password" (click)="toggleConfirmPasswordVisibility()"
                    [attr.aria-label]="hideConfirmPassword ? 'Mostrar contraseña' : 'Ocultar contraseña'">
                    {{ hideConfirmPassword ? '👁️' : '🙈' }}
                </button>
                <div class="error-messages"
                    *ngIf="passwordForm.get('confirmPassword')?.errors && passwordForm.get('confirmPassword')?.touched">
                    <div *ngIf="passwordForm.hasError('notMatched')" class="error-message">Las contraseñas no coinciden
                    </div>
                </div>
            </div>

            <button type="submit" [disabled]="passwordForm.invalid">Enviar</button>
        </form>
    </div>
</section>