<section>
     <div class="overlay" id="modalOverlay">
        <div class="modal-card">
            <div class="spinner-wrapper">
                <div class="spinner">
                    <div class="segment segment-1" data-index="0"></div>
                    <div class="segment segment-2" data-index="1"></div>
                    <div class="segment segment-3" data-index="2"></div>
                    <div class="segment segment-4" data-index="3"></div>
                    <div class="segment segment-5" data-index="4"></div>
                    <div class="segment segment-6" data-index="5"></div>
                    <div class="segment segment-7" data-index="6"></div>
                    <div class="segment segment-8" data-index="7"></div>
                    <div class="segment segment-9" data-index="8"></div>
                    <div class="segment segment-10" data-index="9"></div>
                    <div class="segment segment-11" data-index="10"></div>
                    <div class="segment segment-12" data-index="11"></div>
                    <div class="segment segment-13" data-index="12"></div>
                    <div class="segment segment-14" data-index="13"></div>
                    <div class="segment segment-15" data-index="14"></div>
                    <div class="segment segment-16" data-index="15"></div>
                    <div class="segment segment-17" data-index="16"></div>
                    <div class="segment segment-18" data-index="17"></div>
                </div>
                <p class="loading-text">Cargando</p>
            </div>
        </div>
    </div>
</section>