<form [formGroup]="emailForm" class="container">
  <div class="field-row ">
    <div class="col-auto">
      <label for="email" class="col-form-label">Correo:</label>
    </div>
    <div class="col">
      <div class="input-group">
        <input
          class="form-control w-25"
          aria-describedby="correo"
          placeholder="Correo inscrito del paciente"
          id="email"
          formControlName="email"
          type="email"
          autocomplete="email"
        />
      </div>
      @if (email.invalid && (email.dirty || email.touched)) {
        <div class="text-danger mt-1">
          @if (email.errors?.['required']) {
            <small>El correo es requerido.</small>
          }
          @if (email.errors?.['email']) {
            <small>El valor ingresado no es un correo con formato valido.</small>
          }
        </div>
      }
    </div>
  </div>
</form>
