<form [formGroup]="form" class="container">
    <div class="row mb-3">
        <div class="col-auto">
            <label for="password" class="col-form-label">Contraseña:</label>
        </div>
        <div class="col">
            <div class="input-group">
                <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="password"
                    placeholder="Ingrese su contraseña" formControlName="password">
                <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility('password')">
                    <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
                </button>
            </div>
            <div *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)"
                class="text-danger mt-1">
                <small *ngIf="form.get('password')?.errors?.['required']">La contraseña es requerida.</small>
                <small *ngIf="form.get('password')?.errors?.['minlength']">La contraseña debe tener al menos 8 caracteres.</small>
                <small *ngIf="form.get('password')?.errors?.['maxlength']">La contraseña debe tener maximo 16 caracteres.</small>
                <small *ngIf="form.get('password')?.errors?.['pattern']">La contraseña debe tener mayusculas, minusculas, numeros y caracteres especiales.</small>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-auto">
            <label for="confirmPassword" class="col-form-label">Confirmar Contraseña:</label>
        </div>
        <div class="col">
            <div class="input-group">
                <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control" id="confirmPassword"
                    placeholder="Confirme su contraseña" formControlName="confirmPassword">
                <button class="btn btn-outline-secondary" type="button"
                    (click)="togglePasswordVisibility('confirmPassword')">
                    <i class="bi" [ngClass]="showConfirmPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
                </button>
            </div>
            <div *ngIf="form.hasError('passwordMismatch') && form.get('confirmPassword')?.touched"
                class="text-danger mt-1">
                <small>Las contraseñas no coinciden.</small>
            </div>
        </div>
    </div>
</form>