<section>
  <div class="row  vh-100 ">
    <div class="image col-md-6 d-flex justify-content-center align-items-center">
      <img src="assets/atencion_hospitalaria.jpg" alt="Hospital y ambulancia" class="img-fluid">
    </div>
    <div class="options col-md-6 d-flex flex-column justify-content-center align-items-center">
      <div class="watermark"></div>
      <div class="border-bottom section">
        <h1>Plataforma de Gestión </h1>
        <p>Acá podras gestionar todos los servicios que tenemos para ti.</p>
      </div>
      <div>
        <div class="mt-3 mb-3 text-container option">
          <h2>Gestionar contraseña</h2>
          <p>Gestiona tu contraseña para ingresar al portal y disfrutar de nuestros servicios.
          </p>
          <button class="btn btn-primary" routerLink="/generate-code">Gestionar Contraseña</button>
        </div>
        <div class="border-bottom"></div>
      </div>
      <div>
        <div class="mt-3 mb-3 text-container option">
          <h2>Zona transaccional</h2>
          <p>Ingresa al portal para gestionar nuestros servicios.
          </p>
          <button class="btn btn-primary" routerLink="/login">Ingresar</button>
        </div>
        <div class="border-bottom"></div>
      </div>
    </div>
  </div>
</section>