.input-group {
    position: relative;
}

.input-group .btn {
    position: absolute;
    right: 0;
    z-index: 3;
    border: none;
    background: transparent;
    outline: none;
    display: block;
}

.input-group .btn:focus,
.input-group .btn:active {
    box-shadow: none;
}

.input-group .btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
}