form.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.field-row {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.col-auto label {
  display: inline-block;
  width: 160px;
  font-weight: normal;
  text-align: right;
  white-space: nowrap;
  margin-right: 5px;
  padding-right: 5px;
  flex-shrink: 0;
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;

  .btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 3;
    border: none;
    border-left: 1px solid #ced4da;
    background: transparent;
    outline: none;
    padding: 0 10px;
    display: flex;
    align-items: center;

    &:focus,
    &:active {
      box-shadow: none;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }

    i {
      font-size: 1rem;
      color: #555;
    }
  }

  input.form-control {
    padding-right: 42px; // deja espacio para el botón del ojo
  }
}