.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1; /* Ocupa el espacio disponible */
    margin-top: 120px; /* Espacio para el header fijo (ajusta según altura del header) */
    margin-bottom: 0; /* Sin margen inferior porque el footer no es fijo */
    overflow-y: auto;
}