<section class="principal">
    <div class="profile-menu-container">
        <div class="profile-image-container">
          <img src="assets/profile-user.png" alt="User Profile" class="profile-image">
        </div>
        <div class="profile-menu-items">
          <div class="profile-menu-item">
            <h3 class="profile-menu-title">Nombre</h3>
          </div>
          <div class="profile-menu-item">
            <h3 class="profile-menu-title">Título</h3>
          </div>
          <div class="profile-menu-item">
            <h3 class="profile-menu-title">GitHub</h3>
          </div>
          <div class="profile-menu-item">
            <h3 class="profile-menu-title">LinkedIn</h3>
          </div>
        </div>
      </div>
</section>
