.patient-home-container {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  border: none;
  box-shadow: none;
  background: transparent;
  max-height: min-content;
}

.options-menu {
  grid-row: 1;
  /* Primera fila */
  width: 100%;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  position: sticky;
  top: 0px;
}

.main-content {
  grid-row: 2;
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 20px;
  padding: 20px;
  min-height: 0;
  overflow: auto;
  max-height: auto;
}

.left-menu {
  grid-column: 1;
  padding: 0;
  align-self: start;
}

.right-content {
  grid-column: 2;
  display: grid;
  grid-template-rows: auto auto;
  gap: 20px;
  align-content: start
}

@media (max-width: 768px) {
  .patient-home-container {
    grid-template-rows: auto 1fr;
    /* Mantener las 2 filas en móvil */
  }

  .main-content {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr;
    gap: 15px;
    padding: 15px;
  }

  .left-menu {
    grid-column: 1;
    grid-row: 1;
  }

  .right-content {
    grid-column: 1;
    grid-row: 2 / 4;
    display: flex;
  }

  .right-content app-wiew-cards-procedure {
    flex: 1;
    /* Ocupa todo el espacio disponible */
    width: 100%;
  }
}