<section>
    <div class="patient-home-container">
        <div class="options-menu">
            <app-options-menu></app-options-menu>
        </div>
        <div class="left-menu">
            <app-left-menu></app-left-menu>
        </div>
        
        <div class="right-content">
          <div class="upcoming-procedures">
            <app-upcoming-procedures></app-upcoming-procedures>
          </div>
          
          <div class="last-procedures">
            <app-upcoming-procedures></app-upcoming-procedures>
          </div>
        </div>
      </div> 
</section>
