<section class="request-container">
  @if (currentState() === 'RESEND CODE' || currentState() === 'INITIAL') {
    <div class="change-password-section">
      <app-code-totp
        (codeValid)="onCodeValid($event)"
        (codeValue)="onCodeValue($event)"
        [reset]="resetCode()"
      ></app-code-totp>

      @if (currentState() === 'RESEND CODE') {
        <div class="row">
          <div class="col-12 d-flex align-items-center justify-content-end">
            <app-count-down
              (timerFinished)="onTimerFinished($event)"
              [reset]="startCountDown()"
            ></app-count-down>
            <button
              id="resend-button"
              type="button"
              (click)="resendCode()"
              class="resend-code-btn ms-1"
              [disabled]="!timerFinished() || isResending()"
            >
              @if (isResending()) {
                <output class="spinner-border spinner-border-sm" aria-hidden="true"></output>
                Reenviando...
              } @else {
                Reenviar codigo
              }
            </button>
          </div>
        </div>
      }

      <app-email
        (emailValid)="onEmailValid($event)"
        (emailValue)="onEmailValue($event)"
      ></app-email>
      <app-password
        (passwordsValue)="onPasswordsValue($event)"
        (passwordValid)="onPasswordValid($event)"
      ></app-password>
      <button (click)="changePassword()" [disabled]="!isEmailValid() || !arePasswordValid() || isLoading()">
        @if (isLoading()) {
          <output class="spinner-border spinner-border-sm" aria-hidden="true"></output>
          Cargando...
        } @else {
          Cambiar contraseña
        }
      </button>
    </div>
  }
</section>