* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

.vh-100 {
    margin-top: 110px;
    height: 535px  !important;
}

.img-fluid {
    object-fit: contain;
    position: absolute;
    top: 15px;
    left: 0;
    resize: vertical;
}

.image {
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.options {
    width: 49%;
    margin-left: 5px;
    position: relative;
}

.watermark {
    padding-top: 5px;
    position: absolute;
    top: 20;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('src\assets\icono_medicina.jpg') no-repeat center center;
    background-size: contain;
    opacity: 0.025;
    pointer-events: none;
}

.btn {
    width: 50%;
}

.border-bottom {
    border-bottom: 1px solid rgb(0, 0, 0);
}

.option {
    padding-left: 10%;
}

.section {
    padding-left: 4.5%;
}