<section>
    <div class="container position-relative w-50 float-left email_section">
        <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
            <div class="input-group mb-3 ">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="nombre">Correo:</span>
                </div>
                <input class="form-control w-25 " aria-describedby="correo"
                    placeholder="Correo inscrito del paciente"
                    id="email" formControlName="email" type="email">
            </div>
            <div class="error_message" *ngIf="email?.invalid && email?.touched">
                <div *ngIf="email?.errors?.['required']">El correo es obligatorio.</div>
                <div *ngIf="email?.errors?.['email']">El correo no es válido.</div>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="emailForm.invalid">Validar</button>
        </form>
    </div>
</section>