<section>
  <div class="row vh-100">
    <div class="image col-md-6">
      <img src="assets/atencion_hospitalaria.jpg" alt="Hospital y ambulancia" class="img-fluid" />
    </div>

    <div class="options col-md-6 d-flex flex-column justify-content-center align-items-center">
      <div class="watermark"></div>
      <div class="title-section">
        <h1>Plataforma de Gestión</h1>
        <p>Acá podras gestionar todos los servicios que tenemos para ti.</p>
      </div>

      <div class="section">
        <h2>Restablecer contraseña</h2>
        <p>Restablece tu contraseña para ingresar al portal y disfrutar de nuestros servicios.</p>
        <a class="btn" [routerLink]="['/recover-password']">Restablecer Contraseña</a>
      </div>

      <div class="section">
        <h2>Zona transaccional</h2>
        <p>Ingresa al portal para gestionar nuestros servicios.</p>
        <a class="btn" [routerLink]="['/login']">Ingresar</a>
      </div>
    </div>
  </div>
</section>
